#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(238, 229, 229);
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
